.cardinfo{
    padding: 30px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 600px;
    max-width: 100%;
    position: relative;
}
.cardinfo_close{
    position: absolute;
    right: 15px;
    top: 20px;
}
.cardinfo_close svg{
    height: 30px;
    width: 30px;
}

.cardinfo_box{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.cardinfo_box_title{
    font-weight: bold;
    font-size: 1.3rem;
    display: flex;
    gap: 10px;
}

.cardinfo_box_body{
    width: fit-content;
}

.cardinfo_box_colors{
    display: flex;
    gap: 15px;
    align-items: center;
}

.cardinfo_box_colors li {
    height: 27px;
    width: 27px;
    border-radius: 50%;
    list-style: none;
    border: 5px solid white;
    transition: 500ms;
    cursor: pointer;
}

.cardinfo_box_colors input{
    height: 27px;
    width: 27px;
    border-radius: 50%;
    cursor: pointer;
    border: none;
  border-radius: 50%;
  position: relative;
}

.cardinfo_box_colors > input[type=color]::-webkit-color-swatch {
  border-radius: 50%;
}

.cardinfo_box_colors > input[type=color]::-webkit-color-swatch-wrapper {
    padding: 0px;
}

.cardinfo_box_colors > input[type=color]::after {
    content: "+";
    z-index: 17;
    position: absolute;
    top: -22%;
    left: 11%;
    font-size: 2.2rem;
    color: rgb(250, 250, 250);
}

.cardinfo_box_colors .active {
    border: 3px solid transparent;
}
.cardinfo_box_progress-bar_outer{
    display: flex;
    align-items: center;
    gap: 10px;
}

.cardinfo_box_progress-bar{
    height: 10px;
    border-radius: 20px;
    width: 100%;
    border: 1px solid #ccc;
}
.cardinfo_box_progress{
    border-radius: 20px;
    height:     10px;
    background: #3e90f5;
}
.cardinfo_box_progress-active{
    background-color: limegreen;
}

.cardinfo_box_list{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.cardinfo_task{
    display: flex;
    gap: 10px;
    align-items: center;
    padding: 8px 0;
}

.cardinfo_task input, .cardinfo_task svg{
    height: 18px;
    width: 18px;
    cursor: pointer;
}



.cardinfo_task p{
    flex: 1;
    line-height: 20px;
}

.cardinfo_box_labels{
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}
