.card{
    padding: 10px;
    border-radius: 5px;
    background-color: rgb(228, 228, 228);
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.card_top{
    display: flex;
    gap: 5px;
}

.card_top_labels{
    display: flex;
    flex: 1;
    gap: 10px;
}
.card_top_more{
    position: relative;
    cursor: pointer;
}

.card_dropdown{
    background-color: #fff;
    width: 130px;
    padding: 10px;
    border-radius: 3px;
    box-shadow: 1px 0 20px rgba(0, 0, 0, 0.05);
}
.card_dropdown p {
    cursor: pointer;
}

.card_top svg{
    opacity: 0;
    transition: 200ms;
}
.card:hover .card_top svg {
    opacity: 1;
}

.card_title{
    font-weight: bold;
}
.card_footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card_footer svg {
    height: 14px;
    width: 14px;
}

.card_footer p {
    display: flex;
    gap: 5px;
    align-items: center;
}

.card_delayed p{
    background: red;
    border-radius: 8px;
    width: 100%;
    display:flex;
    gap:10px;
    padding: 5px 15px;
    align-items: center;
}
.card_delayed svg{
    height: 20px;
    width: 20px;
}