::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-thumb {
  border-radius: 30px;
  border: 1px solid #4dabfd;
  background-color: #42aaf9;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #139df9;
}
.app {
  height: 100vh;
  display: flex;
  flex-direction: column;
  position: relative;
  animation: slides 0.5s normal 0s 1 forwards;
  background-color: rgba(76, 189, 255, 0.64);
}

h1 {
  text-align: center;
  margin: 20px 0px;
}

.body {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  margin-bottom: 20px;
  margin: 0px 10px;
}
.body_text {
  flex: 1;
}

.body_img {
  width: 600px;
  max-width: 100%;
  margin: auto;
}

@keyframes slides {
  from {
    left: -100vw;
  }
  to {
    left: 0;
  }
}

.app_navbar {
  background: #0079bf;
  width: 100%;
  padding: 20px 30px;
  box-shadow: 0px 0px 5px 2px gray;
  display: flex;
  justify-content: space-between;
}

.app_outer {
  flex: 1;
  width: 100%;
  overflow-x: auto;
}

.app_boards {
  padding: 20px;
  padding-bottom: 0;
  min-width: fit-content;
  display: flex;
  gap: 30px;
  max-height: 100%;
}
.app_boards_board {
  width: 300px;
}

.app_boards_board_add {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 1px 2px 0 1px rgba(0, 0, 0, 0.15);
}

.app_boards_board_add:hover {
  box-shadow: 1px 2px 0 1px #ccc;
}
.index {
  width: 100%;
  display: block;
  text-align: justify;
  padding: 0px 40px;
}
.top {
  width: 100%;
  max-width: 98vw;
  position: relative;
  overflow-x: auto;
  & > img {
    width: 100%;
  }
}
.start {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px 25px;
  outline: none;
  border-radius: 10px;
  border: none;
  background: rgb(58, 165, 252);
  font-size: 1.5rem;
  font-weight: bold;
  color: white;
  cursor: pointer;
  margin-bottom: 10px;
  &:hover {
    background: rgb(32, 155, 255);
  }
  &:active {
    translate: 2px 5px;
  }
}

img {
  border-radius: 20px;
  box-shadow: 0px 0px 10px black;
}

.images {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin-top: 120px;
  justify-content: space-evenly;
  & > img {
    min-width: 300px;
    width: 45%;
    max-width: 400px;
  }
}
